.container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(to right, #BAC1ED , #EEC4EC);
}