.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-width: 100%;
}

.container_bar{
    text-align: left;
    padding-block: 10px;
    padding-left: 30px;
}

.container_bar form{
    display: flex;
}

.container_bar input[type=text] {
    width: 300px;
    padding-inline: 10px;
    font-size: 17px;
    border: none;
}

.container_bar input[type=submit] {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    padding-inline: 5px;
    padding-block: 5px;
    align-items: end;
}

.product_list{
    display: flex;
    box-sizing: border-box;
    background-color:blueviolet;
    text-align: left;
    list-style: none;
}