*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0;

}

.container{
    display: flex;
    height: 87vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient(to right, #BAC1ED , #EEC4EC);
}

.container-form{
    width: 25%;
}

form{
    background-color: #FFFFFF;
    border-radius: 25px;
    padding-block: 25px;
}

label{
    display: block;
    width: 80%;
    text-align: left;
    margin-inline: auto;
    margin-bottom: 5px;
}

input{
    display: block;
    width: 80%;
    height: 30px;
    border-radius: 10px;
    margin-inline: auto;
    margin-bottom: 15px;
}

input:focus{
    border-color: blue;
}

input[type="submit"] {
    width: fit-content;
    padding-inline: 20px;
}

p {
    margin-top: -10px;
}
