.container{
    display: flex;
    flex-direction: column;
}

.container_form{
    margin-inline: auto;
    text-align: center;
    width: 40%;
    height: 50%;
    background-color: antiquewhite;
    padding: 20px;
}

.container_form form{
    display: flex;
    flex-direction: column;
}