*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    padding: 0;
    height: 100vh;
}

aside {
    width: fit-content;
    background-color: #212121;
}

main {
    display: flex;
    flex-direction: row;
    height: 100%;
}