nav {
    display: flex;
    justify-content: space-between;
    align-self: flex-end;
}

.logo{
    display: flex;
    margin-left: 50px;
    margin-block: auto;
    cursor: pointer;
}

ul {
    display: flex;
    align-self: flex-end;
    text-align: right;
    list-style: none;
    padding: 10px;
    margin-bottom: auto;
}

li {
    display: inline;
    padding: 10px;
    cursor: pointer;
}

li:hover{
    background-color: #2f89fc;
}

li:hover a{
    color: white;
}

li a{
    text-decoration: none;
}