nav {
    position: relative;
    justify-content: end;
    border: 1px solid chocolate;

}

.logo{
    display: flex;
    margin-left: 50px;
    margin-block: auto;
    cursor: pointer;
}

ul {
    position:absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    list-style: none;
    padding: 10px;
    margin-bottom: auto;
}

li {
    display: inline;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

li:hover{
    background-color: deepskyblue;
}

li:hover a{
    color: white;
}

li a{
    text-decoration: none;
}